<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/page2.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="/static/index.css">
    <title>Second page</title>
<style>
    table,th,td{
        border:1px solid black;
        margin: 5px;
    }
    piechart {

            display: block;

            width: 200px;
            height: 200px;
            border-radius: 50%;
             }
                section{
                    display: flex;
                    flex-direction: right;

                }
                nav{
                    margin: auto;
                }




</style>
<body>

    <nav><div id="title">
    <h3 style="margin: 20px;padding: 20px;letter-spacing: 10px;">Poll Detail</h3>
    <h1 class="fly">FlyWeight Polls</h1>

</div>
    <br>
    <br>
    <br>
    <h2 id="one"></h2>
    <br>
    <br>
    <section>
        <nav>
            <a href="/static/page3.html"> <button>Vote on this Poll</button></a>
<br>

<div id="tableDiv" style="font-family: 'Times New Roman', Times, serif;
        width:100%;
        border-collapse: collapse;">
    </div>
</nav>
<nav>
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

</nav>
</section>


</body>
<footer id="tags"></footer>
</html>